.navbar{
    height: 70px;
    border-radius: 8px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 15px 15px 0 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.3);
}

.brand {
    padding: 10px;
    width: 180px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    opacity: 0.9;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.505);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    opacity: 0.9;
}

.icons button {
    color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.icons img {
    margin-top: 2px;
    height: 35px;
}

.img {
    padding: 4px 6px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}