.task {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    position: relative;
    
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task:hover{
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.08),
        0 10px 20px rgba(0, 0, 0, 0.06);
}

.taskTitle {
    font-size: 18px;
    margin-bottom: 5px;
}

.dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}

.taskFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    color: grey;
}

.time hr {
    margin-top: 7px;
}



.taskFooter .fa-thumbs-up {
    font-size: 20px;
    color: green;
}